.linkButton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .55rem 0.9rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
    background-color: #f3f3f3;
}

.linkButton:hover {
    transform: translate(1px, 1px);
    background-color: #e7fbfb;
}